<% provide(:title, "Home") %>

<h1>MicroBlog</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<%= link_to 'Sign Up', signup_path, class: "button button_link" %>
<p>Already have an account? <%= link_to "Login", login_path, class: "text_link" %></p>
