<% provide(:title, "Login") %>
<h3><%= yield(:title) %></h3>

<div class="row">
  <div class="small-12 columns">
  	 <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.submit "Login", class: "button tiny radius" %>
    <% end %>
     <p>New user? <%= link_to "Sign up now!", signup_path, class: "text_link" %></p>
  </div>
</div>