<% provide(:title, "Users") %>
<h3><%= yield(:title) %></h3>

<div class="row">
  <div class="small-4 large-centered columns">
    <%= will_paginate @collection, renderer: FoundationPagination::Rails %>
  </div>
</div>

<table width="100%">
  <thead>
    <tr>
      <th width="40%">Name</th>
      <th width="25%">Email</th>
      <th width="10%">Admin</th>
      <th colspan="15%">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <% if user.admin %>
            <span class="alert round radius label"><%= user.admin %></span>
          <% else %>
            <span class="success round radius label"><%= user.admin %></span>
          <% end %>
        </td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td>
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
