<% provide(:title, "Account") %>
<h3><%= yield(:title) %>: <%= @user.name %></h3>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="small-3 columns">
 
    <table  width="50%">
      <tbody>
        <tr>
          <td><strong>Name</strong></td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td><strong>Email</strong></td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td><strong>Admin?</strong></td>
          <td>
            <% if @user.admin %>
              <span class="alert round radius label"><%= @user.admin %></span>
            <% else %>
              <span class="success round radius label"><%= @user.admin %></span>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

    <%= link_to 'Edit', edit_user_path(@user), class: "text_link" %> |
    <%= link_to 'Back', users_path, class: "text_link" %>

  </div>

<div class="small-9 columns">
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>