<%# navigation header styled for Zurb Foundation 5 %>

<header class="header">
<div class="row fullWidth">
  <nav class="top-bar top-bar2" role="navigation" data-options="sticky_on: large">
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="#" class="navtop_link"><%= image_tag("mblog.png", :alt => "rss feed") %> <%= t('appname') %></a></h1>
	    </li>
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span><%= t('menu') %></span></a></li>
	  </ul>

	  <section class="top-bar-section">

	    <!-- Right Nav Section -->
	    <ul class="right">

	      <% if current_user %>
	      	<li><%= link_to current_user.name, current_user, class: "navtop_link" %></li></li>
	      	<li><%= link_to t('logout'), logout_path, method: "delete", class: "navtop_link" %></li>
	      <% else %>
	      	<li><%= link_to t('login'), login_path, class: "navtop_link" %></li>
	      <% end %>
	      <li>"  "</li>

	    </ul>

	    <!-- Left Nav Section -->
	    <ul class="left">
	      <li><%= link_to t('home'), root_path, class: "navtop_link" %></li>
		    <li><%= link_to t('posts'), microposts_path, class: "navtop_link" %></li>
		     <% if current_user %>
			     <% if current_user.admin? %>
			    	<li><%= link_to t('users'), users_path, class: "navtop_link" %></li>
			    <% end %>
			 <% end %>
	    </ul>

	  </section>
	</nav>
</div>
</header>