<%# add left navigation links to this file %>

<div class="sidebar">
	<nav>
		<ul class="side-nav">
	  	<li class="heading">Setup</li>
			<li><%= link_to 'Home', home_path %></li>
		</ul>
	</nav>
</div>
