<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= yield(:title)  %> | MicroBlog</title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Mblog" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
  
    <%= render 'layouts/header' %>

		<div class="row fullWidth">
		  <div class="medium-2 columns" style="background-color:#CCCCCC">
          <%= render 'layouts/navigation_left' %>
      </div>

		  <div class="medium-10 columns">
		  	<main role="main">
		       <%= render 'layouts/messages' %>
		       <%= yield %>
		    </main>
		  </div>
      
      <div class="medium-10 columns">
        <%= render 'layouts/footer' %>
      </div>
		</div>

  </body>
</html>